<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tr> <td>Aug 12, 2021</td> <td>Install Day</td> </tr>
      <tr> <td>Aug 16, 2021</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell</a>  </td> </tr>
      <tr> <td>Aug 17, 2021</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a> </td> </tr>
      <tr> <td>Aug 18, 2021</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Cont.)</a>  </td> </tr>
      <tr> <td>Aug 19, 2021</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Cont.)</a> </td> </tr>
      <tr> <td>Aug 20, 2021</td>  <td>Q&A for the Unix Shell and R</td> </tr>
    </table>
  </div>
</div>